# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/
.pytest_cache/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# IDEs
.idea/
.vscode/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Project Specific
stock_chart.png
*.log
